<div class="container mt-4">

  <div class="row">
    <div class="col-12">
      <h1 class="fw-bold mb-4">Create Connection</h1>
      <div class="container">
        <!-- <div class="row bg-card">
                    <div class="col align-middle">DataBase</div>
                </div> -->

        <form class="row g-3">
          <div class="col-md-4">
            <label for="input3" class="form-label">Connection Name</label>
            <input type="text" class="form-control" id="input3">
          </div>
          <div class="col-md-4">
            <label for="input3" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Type</option>
              <option ng-if="expression" value="1">Database</option>
              <option value="2">Shpfile</option>
              <option value="3">Excel</option>
              <option value="4">Csv</option>
            </select>
          </div>
          <!-- <div class="col-md-4">
                    <label for="input2" class="form-label">Server Name</label>
                    <input type="text" class="form-control" id="input2">
                  </div>
                    <div class="col-md-4">
                      <label for="input1" class="form-label">Port</label>
                      <input type="text" class="form-control" id="input1">
                    </div>
                    
                    
                    
                      
                      <div class="col-md-4">
                        <label for="input3" class="form-label">Username</label>
                        <input type="text" class="form-control" id="input3">
                      </div>
                      <div class="col-md-4">
                        <label for="input3" class="form-label">Password</label>
                        <input type="text" class="form-control" id="input3">
                      </div> -->
          <div class="col-12 text-center mt-4">
            <button id="save" class="btn btn-success btn-md ml-2" Style="width: 100px;">Save</button>
            <button id="test" class="btn btn-danger btn-md ml-2" Style="width: 170px; ">Test Connection</button>
          </div>
        </form>
        <div class="col align-middle bg-card mt-5">DataBase</div>
        <div class="row mt-2 ">


          <div class="col-md-6">
            <label for="input2" class="form-label">Server Name</label>
            <input type="text" class="form-control" id="input2">
          </div>
          <div class="col-md-6">
            <label for="input1" class="form-label">Port</label>
            <input type="text" class="form-control" id="input1">
          </div>
          <div class="col-md-6">
            <label for="input3" class="form-label">Username</label>
            <input type="text" class="form-control" id="input3">
          </div>
          <div class="col-md-6">
            <label for="input3" class="form-label">Password</label>
            <input type="text" class="form-control" id="input3">
          </div>
        </div>
        <div class="col align-middle bg-card mt-5">Shpfile</div>
        <div class="row mt-1">
          <div class="mb-3">
            <label for="formFile" class="form-label">Shpfile</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>

        <div class="col align-middle bg-card mt-5">Excel</div>
        <div class="row mt-1">
          <div class="mb-3">
            <label for="formFile" class="form-label">Excel</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>
        <div class="col align-middle bg-card mt-5">Csv</div>
        <div class="row mt-1">
          <div class="mb-3">
            <label for="formFile" class="form-label">Csv</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>





      </div>
    </div>
  </div>
</div>