<!-- <div cdkDropList  class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
</div> -->

<div class="container row">
  <div #native class="col-3" style="height:80vh;border-right: 2px solid black;">
    <div *ngFor="let node of nodes1;let index" style="display: flex;justify-content: center;">
      <div cdkDrag class="example-box" style="width: 210px;height: 130px;margin: 5px;" [class]="node.name"
        *ngIf="node.name!==null" (cdkDragEnded)="drop1($event,index)">
        <div style="display: flex;justify-content: center;align-items: center;" class="row">
          <p style="font-size: 10px;">
            {{node.name}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div #native1 class="col-9">
    <div style="margin: 1rem 0rem;" class="row">
      <div class="col-4" style="text-align: start;">
        <button class="btn btn-login" (click)="ref()">Refresh</button>
      </div>
      <div class="col-4" style="text-align: center;">
        <button class="btn btn-login" (click)="Sort()">Sort</button>
      </div>
      <div class="col-4" style="text-align: end;">
        <button class="btn btn-login" (click)="start(nodes2[0])">Start</button>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-3" [hidden]="a1==null" id="A1">

      </div>
      <div class="col-3" [hidden]="a2==null" id="A2">

      </div>
      <div class="col-3" [hidden]="a3==null" id="A3">

      </div>
      <div class="col-3" [hidden]="a4==null" id="A4">

      </div> -->
      <div id="start" class="example-box col-3" cdkDrag *ngIf="a1!=null" (cdkDragMoved)="ngAfterViewInit()"
        (cdkDragEnded)="drop1($event,a1)">
        {{a1.name}}
      </div>
      <div id="end" class="example-box col-3" cdkDrag *ngIf="a2!=null" (cdkDragMoved)="ngAfterViewInit()"
        (cdkDragEnded)="drop1($event,a2)">
        {{a2.name}}
      </div>
      <div id="end1" class="example-box col-3" cdkDrag *ngIf="a3!=null" (cdkDragMoved)="ngAfterViewInit()"
        (cdkDragEnded)="drop1($event,a3)">
        {{a3.name}}
      </div>
      <div id="end2" class="example-box col-3" cdkDrag *ngIf="a4!=null" (cdkDragMoved)="ngAfterViewInit()"
        (cdkDragEnded)="drop1($event,a4)">
        {{a4.name}}
      </div>
      <div id="end3" class="example-box col-3" cdkDrag *ngIf="a5!=null" (cdkDragMoved)="ngAfterViewInit()"
        (cdkDragEnded)="drop1($event,a5)">
        {{a5.name}}
      </div>

      <svg style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;">
        <defs>
          <marker id="arrow" markerWidth="10" markerHeight="10" refX="5" refY="3" orient="auto"
            markerUnits="strokeWidth" viewBox="0 0 20 20">
            <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
          </marker>
        </defs>

        <line [attr.x1]="startX" [attr.y1]="startY" [attr.x2]="endX" [attr.y2]="endY" stroke="#f00" stroke-width="3"
          marker-end="url(#arrow)" />
        <line [attr.x1]="startX1" [attr.y1]="startY1" [attr.x2]="endX1" [attr.y2]="endY1" stroke="#f00" stroke-width="3"
          marker-end="url(#arrow)" />
        <line [attr.x1]="startX2" [attr.y1]="startY2" [attr.x2]="endX2" [attr.y2]="endY2" stroke="#f00" stroke-width="3"
          marker-end="url(#arrow)" />
        <line [attr.x1]="startX3" [attr.y1]="startY3" [attr.x2]="endX3" [attr.y2]="endY3" stroke="#f00" stroke-width="3"
          marker-end="url(#arrow)" />
      </svg>
      <!-- <div class="col-3" *ngFor="let node of nodes2; let index">
        <div class="example-box" cdkDrag (cdkDragEnded)="drop1($event,index)" style="margin:5px;display: inline-box;"
          [ngStyle]="node.isCompleted? {'background-color': '#42f55d'}:{'background-color':'white'}">
          <div class="row" id="{{'Target1'+node.id+1}}">
            <div class="col-12">
              {{node.name}}
            </div>
          </div>
          <div class="row">
            <div *ngIf="node.isRunning === true" style="display: flex;margin-right: 5px;">
              <div style="margin-right: 5px;font-size: 10px;">Running</div>
              <div class="dotRed"></div>
            </div>
            <div *ngIf="node.isCompleted === true" style="display: flex;margin-right: 5px;">
              <div style="margin-right: 5px;font-size: 10px;">Completed</div>
              <div class="dotGreen"></div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>

</div>



<!-- <div cdkDropList class="row" #List2="cdkDropList" [cdkDropListData]="nodes2" [cdkDropListConnectedTo]="List1"
      (cdkDropListDropped)="drop($event)">



      <div class="col-3" *ngFor="let node of nodes2" cdkDrag style="display: flex;justify-content: center;">
        <div class="card example-box"
          [ngStyle]="node.isCompleted? {'background-color': '#42f55d'}:{'background-color':'white'}">
          <div style="height: 125px;display: flex;justify-content: center;align-items: end;" class="text-center">
            <p style="font-size: 10px;">
              {{node.name}}
            </p>
          </div> -->
<!-- <div class="row" style="height: 125px;display: flex;justify-content: end;align-items: end;" class="text-end">
            <div *ngIf="node.isRunning === true" style="display: flex;margin-right: 5px;">
              <div style="margin-right: 5px;font-size: 6px;">Running</div>
              <div class="dotRed"></div>
            </div>
            <div *ngIf="node.isCompleted === true" style="display: flex;margin-right: 5px;">
              <div style="margin-right: 5px;font-size: 6px;">Completed</div>
              <div class="dotGreen"></div>
            </div>
          </div> -->
<!-- </div>
        <span style="display: flex;"><img width="100%" src="../../assets/Vector.svg" /></span>
      </div>
    </div> -->
<!-- <output></output>
    <div id="input-line" class="input-line">
      <div class="prompt"></div>
      <div><input class="cmdline" autofocus /></div>
    </div>

    <div class="clock-container">
      <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="45" />
        <g>
          <rect class="hour" x="47.5" y="12.5" width="5" height="40" rx="2.5" ry="2.55" />
          <rect class="min" x="48.5" y="12.5" width="3" height="40" rx="2" ry="2" />
          <line class="sec" x1="50" y1="50" x2="50" y2="16" />
        </g>
      </svg>
    </div> -->
<!-- </div>
</div> -->

<!-- <div cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
  <div cdkDrag  [cdkDragData]="done">
    {{done.name}}
  </div>
</div> -->
<!--
<div>
  <app-listitem [item]="parentItem"
             [connectedDropListsIds]="connectedDropListsIds"
             (itemDrop)="onDragDrop($event)">
  </app-listitem>
</div> -->
<!-- <div class="board row">
  <div class="col-4">
    <h3>New</h3>
    <div cdkDropList #new="cdkDropList" cdkDropList="newItems" [cdkDropListData]="[newItems]"
      (cdkDropListDropped)="dropped($event)">
      <div *ngFor="let item of newItems" cdkDrag>{{ item }}</div>
    </div>
  </div>

  <div class="col-4">
    <h3>Active</h3>
    <div cdkDropList #active="cdkDropList" cdkDropList="activeItems" [cdkDropListData]="[activeItems]"
      (cdkDropListDropped)="dropped($event)">
      <div *ngFor="let item of activeItems" cdkDrag>{{ item }}</div>
    </div>
  </div>

  <div class="col-4">
    <h3>Done</h3>
    <div cdkDropList #done="cdkDropList" cdkDropList="doneItems" [cdkDropListData]="[doneItems]"
      (cdkDropListDropped)="dropped($event)">
      <div *ngFor="let item of doneItems" cdkDrag>{{ item }}</div>
    </div>
  </div>
</div> -->
