<div class="col-12" style="display: flex; justify-content: end;">
  <div class="col-5">
    <div class="container">   
      <div class="row just_scroll">
        <form class="mb-3">
          <h4 class="text-center text-warning p-2 mb-4 text-uppercase">Clusturing</h4>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">Arial</option>
              <option value="2">Underground</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Input 1" aria-describedby="button-addon2">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Input 2" aria-describedby="button-addon2">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
          <button type="submit" class="btn btn-primary">Execute</button>
        </form>
        <hr>
        <form class="mb-3">
          <h4 class="text-center text-warning p-2 mb-4 text-uppercase">Cluster Grouping</h4>
          <div class="mb-3">
            <div class="card text-white bg-success mb-3" style="width: auto;">
              <div class="card-body">
                <h5 class="card-title text-center">Aerial Clusturing op</h5>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Move on to node boundary</button>
        </form>
        <hr>
        <form class="mb-3">
          <h4 class="text-center text-warning p-2 mb-4 text-uppercase">Node Boundary</h4>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="OP from clruster grouping" aria-describedby="button-addon2">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Land boundary" aria-describedby="button-addon2">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>
          <button type="submit" class="btn btn-primary">Execute</button>
        </form>
      <hr>
      <form class="mb-3">
        <h4 class="text-center text-warning p-2 mb-4 text-uppercase">Nb Op</h4>
        <div class="mb-3">
          <div class="card text-white bg-success mb-3" style="width: auto;">
            <div class="card-body">
              <h5 class="card-title text-center">nBop</h5>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
          <button class="btn btn-primary" type="button">Move on to Cluster Correction</button>
          <button class="btn btn-primary" type="button">Move on to node placement</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="col-7">
    <app-geoserver-map></app-geoserver-map>
  </div>
</div>