<div class="col-12" style="display: flex; justify-content: end;">
  <div class="col-5">
<div class="container">
  <div class="row">
    <h4>Clusturing</h4>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Clusturing</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">Arial</option>
          <option value="2">Underground</option>
        </select>

      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Upload</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
  </div>
    <div class="col-7">
      <app-geoserver-map></app-geoserver-map>
    </div>
  </div>

